/****** Object:  Table [dbo].[tbl_tipo_usuario]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tipo_usuario](
	[tusu_id] [int] IDENTITY(1,1) NOT NULL,
	[tusu_nombre] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[tusu_estado] [char](1) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK_tbl_tipo_usuario] PRIMARY KEY CLUSTERED 
(
	[tusu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_proveedor]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_proveedor](
	[prov_id] [int] IDENTITY(1,1) NOT NULL,
	[prov_nombre] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[prov_estado] [char](1) COLLATE Modern_Spanish_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[prov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_producto]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_producto](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_nombre] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[pro_cantidad] [int] NULL,
	[pro_precio] [decimal](9, 2) NULL,
	[pro_estado] [char](1) COLLATE Modern_Spanish_CI_AS NULL,
	[prov_id] [int] NULL,
	[pro_categoria] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[pro_prov_id_backup] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usuario]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuario](
	[usu_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_cedula] [varchar](10) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_nombres] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_apellidos] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_direcciones] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_celular] [varchar](10) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_correo] [varchar](150) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_fecha_creacion] [datetime] NULL,
	[usu_fecha_cumple] [date] NULL,
	[usu_nick] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_contraseña] [varbinary](max) NULL,
	[usu_intentos] [int] NULL,
	[usu_codigo_OTP] [varchar](10) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_estado] [char](1) COLLATE Modern_Spanish_CI_AS NULL,
	[tusu_id] [int] NULL,
	[usu_fecha_ultimo_intento] [datetime] NULL,
	[usu_imagen] [varchar](max) COLLATE Modern_Spanish_CI_AS NULL,
	[usu_qr_key] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK_tbl_usuario] PRIMARY KEY CLUSTERED 
(
	[usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usuario_imagenes]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuario_imagenes](
	[img_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_id] [int] NULL,
	[img_binario] [varbinary](max) NULL,
	[img_tipo] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[img_es_perfil] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_puntajes]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_puntajes](
	[pts_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_id] [int] NOT NULL,
	[pts_puntaje] [int] NOT NULL,
	[pts_fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_puntajes] PRIMARY KEY CLUSTERED 
(
	[pts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_path]    Script Date: 1/6/2026 21:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_path](
	[path_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_id] [int] NOT NULL,
	[path_ruta] [varchar](500) COLLATE Modern_Spanish_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[path_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_tipo_usuario] ON 

INSERT [dbo].[tbl_tipo_usuario] ([tusu_id], [tusu_nombre], [tusu_estado]) VALUES (1, N'Administrador', N'A')
INSERT [dbo].[tbl_tipo_usuario] ([tusu_id], [tusu_nombre], [tusu_estado]) VALUES (2, N'Usuario Estándar', N'A')
SET IDENTITY_INSERT [dbo].[tbl_tipo_usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_proveedor] ON 

INSERT [dbo].[tbl_proveedor] ([prov_id], [prov_nombre], [prov_estado]) VALUES (1, N'Amazon', N'A')
INSERT [dbo].[tbl_proveedor] ([prov_id], [prov_nombre], [prov_estado]) VALUES (2, N'NIKE', N'A')
INSERT [dbo].[tbl_proveedor] ([prov_id], [prov_nombre], [prov_estado]) VALUES (3, N'Sony Electronics', N'A')
SET IDENTITY_INSERT [dbo].[tbl_proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_producto] ON 

INSERT [dbo].[tbl_producto] ([pro_id], [pro_nombre], [pro_cantidad], [pro_precio], [pro_estado], [prov_id], [pro_categoria], [pro_prov_id_backup]) VALUES (1, N'Camiseta', 19, CAST(500.00 AS Decimal(9, 2)), N'A', 1, N'Ropa', NULL)
INSERT [dbo].[tbl_producto] ([pro_id], [pro_nombre], [pro_cantidad], [pro_precio], [pro_estado], [prov_id], [pro_categoria], [pro_prov_id_backup]) VALUES (2, N'PlayStation 5', 25, CAST(499.99 AS Decimal(9, 2)), N'A', 3, N'Electrónica', NULL)
INSERT [dbo].[tbl_producto] ([pro_id], [pro_nombre], [pro_cantidad], [pro_precio], [pro_estado], [prov_id], [pro_categoria], [pro_prov_id_backup]) VALUES (3, N'Televisor Sony Bravia 65', 10, CAST(899.50 AS Decimal(9, 2)), N'A', 3, N'Electrónica', NULL)
SET IDENTITY_INSERT [dbo].[tbl_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_usuario] ON 

SET IDENTITY_INSERT [dbo].[tbl_usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_puntajes] ON 

INSERT [dbo].[tbl_puntajes] ([pts_id], [usu_id], [pts_puntaje], [pts_fecha]) VALUES (7, 4, 26, CAST(N'2026-05-14T22:55:37.250' AS DateTime))
INSERT [dbo].[tbl_puntajes] ([pts_id], [usu_id], [pts_puntaje], [pts_fecha]) VALUES (8, 4, 26, CAST(N'2026-05-14T22:55:40.223' AS DateTime))
INSERT [dbo].[tbl_puntajes] ([pts_id], [usu_id], [pts_puntaje], [pts_fecha]) VALUES (9, 4, 26, CAST(N'2026-05-14T22:55:43.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_puntajes] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_path] ON 

INSERT [dbo].[tbl_path] ([path_id], [pro_id], [path_ruta]) VALUES (22, 1, N'~/Imagenes/43c8e1b8-5130-407b-90be-8ae7d7f8b4e4.jpg')
INSERT [dbo].[tbl_path] ([path_id], [pro_id], [path_ruta]) VALUES (23, 1, N'~/Imagenes/fc2f9e1d-31c5-42af-baf2-8b3fce4f5f86.jpg')
INSERT [dbo].[tbl_path] ([path_id], [pro_id], [path_ruta]) VALUES (24, 1, N'~/Imagenes/f4896ce4-e6c9-40cd-98ce-d3ad2943ea7c.jpg')
SET IDENTITY_INSERT [dbo].[tbl_path] OFF
GO
