<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.Monolillo4toConnectionString"
            connectionString="Data Source=KYOMU\SQLEXPRESS;Initial Catalog=Monolillo4to;User ID=4toA;Password=family;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>